user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
}

http {
        sendfile on;
        tcp_nopush on;
        types_hash_max_size 2048;


        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;
        server{
            listen 443 ssl;
            
            ssl_certificate /etc/nginx/certs/cert.pem;
            ssl_certificate_key /etc/nginx/certs/key.pem;
            ssl_protocols TLSv1.2;
            root /wordpress;
            index index.php index.html index.htm index.nginx-debian.html;
             server_name ilefhail.42.fr;
        location ~ \.php$ {
              fastcgi_pass      wordpress:9000;
              include           fastcgi.conf;
                }
        }
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;
        gzip on;
        include /etc/nginx/conf.d/*.conf;
}
